@media(min-width: 768px) {
    .journal-container {
        max-width:700px;
      }

      h1 {
        font-size: 50px;
      }
}

@media(min-width: 1240px) {
    .journal-container {
        max-width:1000px;
      }
}

